* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-box ul{
    display: flex;
    flex-direction: row; 
    text-decoration: none;
    list-style-type: none;
}

.nav-box{
    padding-top: 10px;
    background-color: grey;
    padding-bottom: 30px;
}

.nav-box ul li{
    padding-top: 10px;
    padding-left: 235px;
}

.nav-box ul li a{
    color: black;
    text-decoration: none;
    font-size: 26px;
}

.nav-box ul li a:hover{
    color: white;
}